.Vuesax Ecommerce Dashbord{
  height: 1960px;
  width: 1920px;
  left: -978px;
  top: -930px;
  border-radius: 0px;
  background: #FFFFFF;


}
.NavBar{
  position: absolute;
  width: 1570px;
  height: 62px;
  right: 14px;
  top: 30px;
  box-shadow: 0px 2px 8px  rgba(0,0,0,0.135216);
  background: #0F1642;
  border-radius: 8px;
}
.Rectangle0{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #0F1642;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}
.Oval{
  position: absolute;
  left: 96.62%;
  right: 1.21%;
  top: 22.58%;
  bottom: 22.58%;
  background: url(#pattern0);
  filter: drop-shadow(-1px 1px 6px rgba(0, 0, 0, 0.235413));
}
.Text img.JohnDoe{
  height: 17px;
  width: 68px;
  left: 1440px;
  top: 16px;
  border-radius: 0px;
  position: absolute;
  height: 17px;
  left: 91.72%;
  right: 3.95%;
  top: calc(50% - 17px/2 - 6.5px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.Text img.Available{
  height: 13px;
  width: 49px;
  left: 1456px;
  top: 34px;
  border-radius: 0px;
  position: absolute;
  height: 13px;
  left: 92.74%;
  right: 4.14%;
  top: calc(50% - 13px/2 + 9.5px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}
.search {
  height: 18px;
  width: 18px;
  left: 1394px;
  top: 22px;
  border-radius: 0px;
}
.search img.search1{
  position: absolute;
  left: 88.79%;
  right: 10.19%;
  top: 35.48%;
  bottom: 38.71%;
  border: 2px #FFFFFF;
}
.search img.search2{
  position: absolute;
  left: 89.66%;
  right: 10.06%;
  top: 57.5%;
  bottom: 35.48%;
  border: 2px  #FFFFFF;
}
.bell{
  height: 20px;
  width: 18px;
  left: 1354px;
  top: 21px;
  border-radius: 0px;
  border: 2px  #FFFFFF
}
.bell img.bell1{
  position: absolute;
  left: 86.24%;
  right: 12.61%;
  top: 33.87%;
  bottom: 41.94%;
  border: 2px  #FFFFFF;
}
.bell img.bell2{
  position: absolute;
  left: 86.71%;
  right: 13.07%;
  top: 64.51%;
  bottom: 33.87%;
  border: 2px  #FFFFFF;
}
.Text img.English{
  height: 17px;
  width: 53px;
  left: 1273px;
  top: 24px;
  border-radius: 0px;

  position: absolute;
  height:17px;
  left: 81.08%;
  right: 15.54%;
  top: calc(50% - 17px/2 + 1.5px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.star{
  position: absolute;
  left: 11.78%;
  right: 86.94%;
  top: 33.87%;
  bottom: 35.45%;
  border: 2px  #FFA84C;
}
.calendar{
  height: 20px;
  width: 18px;
  left: 145px;
  top: 21px;
  border: 2px #FFFFFF
}
.calendar img.Rectangle{
  position: absolute;
  left: 9.24%;
  right: 89.62%;
  top: 37.1%;
  bottom: 33.87%;
  border: 2px  #FFFFFF;
  border-radius: 2px;
}
.calendar img.Path{
  position: absolute;
  left: 9.24%;
  right: 89.62%;
  top: 45.97%;
  bottom: 52.42%;
  border: 2px;
  color: #FFFFFF;
}
.calendar img.Path1{
  position: absolute;
  left: 9.52%;
  right: 90.41%;
  top: 33.87%;
  bottom: 59.68%;
  border: 2px;
  color: #FFFFFF;
}
.calendar img.Path2{
  position: absolute;
  left: 10.03%;
  right: 89.9%;
  top: 33.87%;
  bottom: 59.68%;
  border: 2px;
  color: #FFFFFF;
}
.mail img.PathMail{
  position: absolute;
  left: 6.56%;
  right: 92.17%;
  top: 37.1%;
  bottom: 37.1%;
  border: 2px;
  color: #FFFFFF;
}
.mail img.Path1Mail{
  position: absolute;
  left: 6.56%;
  right: 92.17%;
  top: 40.32%;
  bottom: 48.39%;
  border: 2px;
  color: #FFFFFF;
}
.message-square{
  position: absolute;
  width: 18px;
  height: 18px;
  left: 63px;
  top: 22px;
  border: 2px;
  color: #FFFFFF;
}
.check-square{
  position: absolute;
  left: 1.4%;
  right: 97.45%;
  top: 35.48%;
  bottom: 35.48%;
  border: 2px;.
color: #FFFFFF;
}
.VerticalMenu{
  position: absolute;
  height: 1960px;
  width: 280px;
  left: -2px;
  top: 0px;
  border-radius: 0px;
  background: #0F1642;
}
.Logo{
  position: absolute;
  width: 239px;
  height: 27px;
  left: 21px;
  top: 21px;
}
.DashboardVerticalMenu{
  position: absolute;
  width: 236px;
  height: 122px;
  left: 22px;
  top: 62px;
}
.PathVerticalMenu{
  position: absolute;
  left: 90.25%;
  right: 5.51%;
  top: 12.3%;
  bottom: 83.61%;
  border: 2px;
  color: #FFFFFF;
}
.homeVerticalMenu{
  position: absolute;
  height: 16px;
  width: 14px;
  left: 13px;
  top: 11px;
  border-radius: 0px;
  border: 2px;
  color: #FFFFFF;
}
.circleVerticalMenu{
  height: 10px;
  width: 10px;
  left: 16px;
  top: 97px;
  border-radius: 0px;
position: absolute;
  color: #FFFFFF;
}
.circle1VerticalMenu{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 16px;
  top: 58px;
  border: 2px;
  color: #FFFFFF;
}
.DashboardVertical{
  position: absolute;
  height: 122px;
  left: 16.51%;
  right: 53.39%;
  top: calc(50% - 150px/2);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  color: #FFFFFF;
}
.AnalyticsVertical{
  position: absolute;
  height: 122px;
  left: 16.51%;
  right: 53.39%;
  top: calc(50% - 70px/2);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  color: #FFFFFF;
}
.eCommerceVertical{
  position: absolute;
  height: 122px;
  left: 16.51%;
  right: 53.39%;
  top: calc(50% - -10px/2);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  color: #FFFFFF;
}
.APP{
  position: absolute;
  width: 95px;
  height: 194px;
  left: 35px;
  top: 198px;
}
.RectangleCalendarVerticalMenu{
  position: absolute;
  left: 1.05%;
  right: 82.11%;
  top: 85.49%;
  bottom: 6.22%;
  border: 2px  #FFFFFF;
  border-radius: 2px;
}
.PathCalendarVerticalMenu{
  position: absolute;
  left: 12.63%;
  right: 86.32%;
  top: 84.46%;
  bottom: 13.47%;
  border: 2px;
  color: #FFFFFF;
}
.Path1CalendarVerticalMenu{
  position: absolute;
  left: 5.26%;
  right: 93.68%;
  top: 84.46%;
  bottom: 13.47%;
  border: 2px;
  color: #FFFFFF;
}
.Path2CalendarVerticalMenu{
  position: absolute;
  left: 1.05%;
  right: 82.11%;
  top: 88.08%;
  bottom: 11.4%;
  border: 2px;
  color: #FFFFFF;
}
.PathCheck-squareVertical{
  position: absolute;
  left: 1.05%;
  right: 82.99%;
  top: 63.73%;
  bottom: 28.42%;
  border: 2px;
  color: #FFFFFF;
}
.Path1Check-squareVertical{
  position: absolute;
  left: 6.37%;
  right: 82.11%;
  top: 64.17%;
  bottom: 31.47%;
  border: 2px;
  color: #FFFFFF;
}
.PathMessage-squareVertical{
  position: absolute;
  left: 1.05%;
  right: 82.11%;
  top: 42.49%;
  bottom: 49.22%;
  border: 2px;
  color: #FFFFFF;
}
.PathMailVertical{
  position: absolute;
  left: 0%;
  right: 83.16%;
  top: 22.8%;
  bottom: 70.57%;
  border: 2px;
  color: #FFFFFF;
}
.Path1MailVertical{
  position: absolute;
  left: 0%;
  right: 83.16%;
  top: 23.63%;
  bottom: 74.07%;
  border: 2px;
  color: #FFFFFF;
}
.APP24{
  position: absolute;
  height: 52px;
  left: 0%;
  right: 60%;
  top: calc(50% - 72px/2 - 60.91px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  color: #999999;
}
.EmailChatTodoCaleVertical{
  position: absolute;
  height: 143px;
  left: 30.42%;
  right: 0%;
  top: calc(50% - 143px/2 + 15.08px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  color: #FFFFFF;
}
.UIElements{
  position: absolute;
  width: 209px;
  height: 236px;
  left: 35px;
  top: 413px;
}
.UI{
  position: absolute;
  height: 72px;
  left: 0%;
  right: 54.55%;
  top: calc(50% - 72px/2 - 81.92px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  color: #999999;
}
.RectangleUI{
  position: absolute;
  left: 0%;
  right: 92.34%;
  top: 54.89%;
  bottom: 40%;
  border: 2px;
  color: #FFFFFF;
  border-radius: 2px;
}
.PathUI{
  position: absolute;
  left: 0%;
  right: 92.34%;
  top: 56.65%;
  bottom: 43.03%;
  border: 2px;
  color: #FFFFFF;
}
.PathDropletUI{
  position: absolute;
  left: 0%;
  right: 92.79%;
  top: 36.02%;
  bottom: 56.15%;
  border: 2px;
  color: #FFFFFF;
}
.Path1ArchiveUI{
  position: absolute;
  left: 0.7%;
  right: 93.04%;
  top: 90.47%;
  bottom: 5.53%;
  border: 2px;
  color: #FFFFFF;
}
.RectangleArchiveUI{
  position: absolute;
  left: 0%;
  right: 92.34%;
  top: 88.94%;
  bottom: 9.53%;
  border: 2px;
  color: #FFFFFF;
}
.PathArchiveUI{
  position: absolute;
  left: 3.13%;
  right: 95.48%;
  top: 91.55%;
  bottom: 8.14%;
  border: 2px;
  color: #FFFFFF;
}
.RectangleGrid1{
  position: absolute;
  left: 0%;
  right: 97.02%;
  top: 75.22%;
  bottom: 22.13%;
  border: 2px;
  color: #FFFFFF;
}
.RectangleGrid2{
  position: absolute;
  left: 4.68%;
  right: 92.34%;
  top: 75.22%;
  bottom: 22.13%;
  border: 2px;
  color: #FFFFFF;
}
.RectangleGrid3{
  position: absolute;
  left: 4.68%;
  right: 92.34%;
  top: 71.06%;
  bottom: 26.29%;
  border: 2px;
  color: #FFFFFF;
}
.RectangleGrid4{
  position: absolute;
  left: 0%;
  right: 97.02%;
  top: 71.06%;
  bottom: 26.29%;
  border: 2px;
  color: #FFFFFF;
}



/*.RectangleVerticalMenu{*/
/*  position: absolute;*/
/*  left: 0%;*/
/*  right: 0%;*/
/*  top: 68.85%;*/
/*  bottom: 1.64%;*/
/*  background: linear-gradient(224.53deg, #9E94FF 0%, #7E72F2 99.2%);*/
/*  box-shadow: -1px 1px 8px rgba(126, 114, 242, 0.578726);*/
/*  border-radius: 4px;*/
/*}*/
.Dashboard{
  position: absolute;
  width: 1643px;
  height: 1960px;
  left: 277px;
  top: 0px;
  background: #2B3253;
}
.BreadCrumbs{
  position:absolute;
  width: 1570px;
  height: 40px;
  left: 314px;
  top:117px ;

}
.BreadCrumbs.settings{
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1541px;
  top: 12px;

}
img.PathSettings{
  position: absolute;
  left: 98.15%;
  right: 0.7%;
  top: 30%;
  bottom: 25%;

  border: 2px  #FFFFFF;
}
img.Oval0Settings{
  position: absolute;
  left: 98.6%;
  right: 1.08%;
  top: 45%;
  bottom: 42.5%;

  border: 2px  #FFFFFF;
}
img.OvalSettings{
  height: 40px;
  width: 40px;
  left: 1530px;
  top: 0px;
  border-radius: 30px;
  background: #7E72F2;
  position: absolute;
}
img.Electronics{
  position: absolute;
  height: 17px;
  width: 78px;
  left: 356px;
  top: 11px;
  border-radius: 0px;
  color: #FFFFFF;
}
img.eCommerce{
position: absolute;
  height: 17px;
  width: 87px;
  left: 238px;
  top: 11px;
  border-radius: 0px;
  color: #7E72F2;
}
.PathChevrons-right{
  position: absolute;
  left: 21.27%;
  right: 78.47%;
  top: 40%;
  bottom: 40%;
  border: 1px;
  color: #FFFFFF;
}
.PathChevrons-right1{
  position: absolute;
  left: 21.72%;
  right: 78.03%;
  top: 40%;
  bottom: 40%;
  border: 1px;
  color: #FFFFFF;
}
.PathChevrons-right2{
  position: absolute;
  left: 13.76%;
  right: 85.99%;
  top: 40%;
  bottom: 40%;
  border: 1px;
  color: #FFFFFF;
}
.PathChevrons-right3{
  position: absolute;
  left: 14.2%;
  right: 85.54%;
  top: 40%;
  bottom: 40%;
  border: 1px;
  color: #FFFFFF;
}
.home{
  position: absolute;
  width: 13px;
  height: 15px;
  left: 189px;
  top: 12px;
  border: 1px;
  color: #7E72F2;
}
.Path24{
  position: absolute;
  left: 10.76%;
  right: 89.17%;
  top: 10%;
  bottom: 10%;
  border: 1px solid #979797;
}
.CardActions{
  height: 29px;
  width: 154px;
  left: 0px;
  top: 5px;
  border-radius:0px;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  position: absolute;
}
