.Vuesax Ecommerce Dashbord{
  height: 1960px;
  width: 1920px;
  left: -978px;
  top: -930px;
  border-radius: 0px;
  background: #FFFFFF;


}
.NavBar{
  position: absolute;
  width: 1570px;
  height: 62px;
  right: 14px;
  top: 30px;
  box-shadow: 0px 2px 8px  rgba(0,0,0,0.135216);
  background: #0F1642;
  border-radius: 8px;
}
.Rectangle0{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #0F1642;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}
.Oval{
  position: absolute;
  left: 96.62%;
  right: 1.21%;
  top: 22.58%;
  bottom: 22.58%;
  background: url(#pattern0);
  filter: drop-shadow(-1px 1px 6px rgba(0, 0, 0, 0.235413));
}
.Text img.JohnDoe{
  height: 17px;
  width: 68px;
  left: 1440px;
  top: 16px;
  border-radius: 0px;
  position: absolute;
  height: 17px;
  left: 91.72%;
  right: 3.95%;
  top: calc(50% - 17px/2 - 6.5px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.Text img.Available{
  height: 13px;
  width: 49px;
  left: 1456px;
  top: 34px;
  border-radius: 0px;
  position: absolute;
  height: 13px;
  left: 92.74%;
  right: 4.14%;
  top: calc(50% - 13px/2 + 9.5px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}
.search {
  height: 18px;
  width: 18px;
  left: 1394px;
  top: 22px;
  border-radius: 0px;
}
.search img.search1{
  position: absolute;
  left: 88.79%;
  right: 10.19%;
  top: 35.48%;
  bottom: 38.71%;
  border: 2px #FFFFFF;
}
.search img.search2{
  position: absolute;
  left: 89.66%;
  right: 10.06%;
  top: 57.5%;
  bottom: 35.48%;
  border: 2px  #FFFFFF;
}
.bell{
  height: 20px;
  width: 18px;
  left: 1354px;
  top: 21px;
  border-radius: 0px;
  border: 2px  #FFFFFF
}
.bell img.bell1{
  position: absolute;
  left: 86.24%;
  right: 12.61%;
  top: 33.87%;
  bottom: 41.94%;
  border: 2px  #FFFFFF;
}
.bell img.bell2{
  position: absolute;
  left: 86.71%;
  right: 13.07%;
  top: 64.51%;
  bottom: 33.87%;
  border: 2px  #FFFFFF;
}
.Text img.English{
  height: 17px;
  width: 53px;
  left: 1273px;
  top: 24px;
  border-radius: 0px;

  position: absolute;
  height:17px;
  left: 81.08%;
  right: 15.54%;
  top: calc(50% - 17px/2 + 1.5px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.star{
  position: absolute;
  left: 11.78%;
  right: 86.94%;
  top: 33.87%;
  bottom: 35.45%;
  border: 2px  #FFA84C;
}
.calendar{
  height: 20px;
  width: 18px;
  left: 145px;
  top: 21px;
  border: 2px #FFFFFF
}
.calendar img.Rectangle{
  position: absolute;
  left: 9.24%;
  right: 89.62%;
  top: 37.1%;
  bottom: 33.87%;
  border: 2px  #FFFFFF;
  border-radius: 2px;
}
.calendar img.Path{
  position: absolute;
  left: 9.24%;
  right: 89.62%;
  top: 45.97%;
  bottom: 52.42%;
  border: 2px;
  color: #FFFFFF;
}
.calendar img.Path1{
  position: absolute;
  left: 9.52%;
  right: 90.41%;
  top: 33.87%;
  bottom: 59.68%;
  border: 2px;
  color: #FFFFFF;
}
.calendar img.Path2{
  position: absolute;
  left: 10.03%;
  right: 89.9%;
  top: 33.87%;
  bottom: 59.68%;
  border: 2px;
  color: #FFFFFF;
}
.mail img.PathMail{
  position: absolute;
  left: 6.56%;
  right: 92.17%;
  top: 37.1%;
  bottom: 37.1%;
  border: 2px;
  color: #FFFFFF;
}
.mail img.Path1Mail{
  position: absolute;
  left: 6.56%;
  right: 92.17%;
  top: 40.32%;
  bottom: 48.39%;
  border: 2px;
  color: #FFFFFF;
}
.message-square{
  position: absolute;
  width: 18px;
  height: 18px;
  left: 63px;
  top: 22px;
  border: 2px;
  color: #FFFFFF;
}
.check-square{
  position: absolute;
  left: 1.4%;
  right: 97.45%;
  top: 35.48%;
  bottom: 35.48%;
  border: 2px;.
color: #FFFFFF;
}
.VerticalMenu{
  position: absolute;
  height: 1960px;
  width: 280px;
  left: -2px;
  top: 0px;
  border-radius: 0px;
  background: #0F1642;
}
.Dashboard{
  position: absolute;
  width: 1643px;
  height: 1960px;
  left: 277px;
  top: 0px;
  background: #2B3253;

}

.BreadCrumbs{
  position:absolute;
  width: 1570px;
  height: 40px;
  left: 314px;
  top:117px ;
}
.BreadCrumbs.settings{
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1541px;
  top: 12px;

}
img.PathSettings{
  position: absolute;
  left: 98.15%;
  right: 0.7%;
  top: 30%;
  bottom: 25%;

  border: 2px  #FFFFFF;
}
img.Oval0Settings{
  position: absolute;
  left: 98.6%;
  right: 1.08%;
  top: 45%;
  bottom: 42.5%;

  border: 2px  #FFFFFF;
}
img.OvalSettings{
  height: 40px;
  width: 40px;
  left: 1530px;
  top: 0px;
  border-radius: 30px;
  background: #7E72F2;
  position: absolute;

}

